<mat-toolbar color="primary">
  <button mat-icon-button class="header" aria-label="header icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>
 <span>My Posts</span>
 <span class="header-spacer"></span>
 <button mat-icon-button class="header favorite-icon" aria-label="header icon-button with heart icon">
   <mat-icon>favorite</mat-icon>
 </button>
 <button mat-icon-button class="header" aria-label="header icon-button with share icon">
  <mat-icon>share</mat-icon>
</button>
<ul>
  <li>
    <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
  </li>
</ul>
</mat-toolbar>
