<mat-card>
  <form (submit)="onAddPost(createPostForm)" #createPostForm="ngForm">
  <mat-form-field>
    <input matInput type="text" name="title" ngModel placeholder="Title Here..." required #title="ngModel"/>
    <mat-error *ngIf="title.invalid">Please Enter a Post Title.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Post Here..." rows="5" name="content" ngModel required #content="ngModel"></textarea>
    <mat-error *ngIf="content.invalid">Please Enter Some Content.</mat-error>
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit">Save Post</button>
</form>
</mat-card>
